/* INDEX PAGE */

.landingPage {

  
    margin: auto;
    border: hidden;
    width: 75vw;
    height: 85vh;
    padding: 1em 10em 5em 10em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 600px){

    .landingPage {

  
        margin: auto;
        border: hidden;
        width: 65vw;
        height: 65vh;
        padding: 5em 4em 3em 1em;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}


#navBtn {

    position: fixed; 
    
}

#infBtn {

    border-radius: 10px;
    cursor: pointer;
    color:blue;


}



#gameTitle {

    position: relative;
    margin: 1rem auto;
    background-color: rgb(29,180,200);
    background-image: linear-gradient(0deg, rgba(29,147,200,1) 33%, rgba(21,68,208,1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 10rem;
    font-family: 'Cairo Play', sans-serif;
    font-weight: bold;
    text-align: center;

}

@media (max-width: 600px){

    #gameTitle {

        position: relative;
        margin: 1rem auto;
        background-color: rgb(29,180,200);
        background-image: linear-gradient(0deg, rgba(29,147,200,1) 33%, rgba(21,68,208,1) 100%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-size: 4rem;
        font-family: 'Cairo Play', sans-serif;
        font-weight: bold;
        text-align: center;
    
    }



}




#introImg {

    position: relative;
    border: 1px solid;
    border-radius: 10%;
    width: 30vw;
    height: auto;
    background-position: center;
    background-size: cover;
    border-color: transparent;
    border-width: 1em;
    padding: 1em;
    

}


@media(max-width:600px) {


    #introImg {

        position: relative;
        border: 1px solid;
        border-radius: 10%;
        width: 60vw;
        height: auto;
        background-position: center;
        background-size: cover;
        border-color: transparent;
        border-width: 1em;
        padding: 1em 3em 2em 6em;
        
    
    }
    


}

.playBtn {

    position: relative;
    width: 15em;
    height: 3em;
    background-color: rgb(29,180,200);
    background-image: linear-gradient(0deg, rgba(29,147,200,1) 33%, rgba(21,68,208,1) 100%);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.5em;
    padding: 1em;
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;

}

@media (max-width: 600px){


    .playBtn {
        
        position:relative;
        width: 10em;
        height: 3em;
        background-color: rgb(29,180,200);
        background-image: linear-gradient(0deg, rgba(29,147,200,1) 33%, rgba(21,68,208,1)100%);
        color: #fff;
        border: none;
        outline: none;
        border-radius: 0.5em;
        padding: 1em;
        font-size: 1em;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        cursor: pointer;
    
    }   



}

button .playBtn:hover {
    cursor: pointer;
  }

  @media (max-width: 600px){

    button:hover {
        cursor: pointer;
        background-color: gold;
      }

  }



/* GAMEPAGE  --------------------------------------------------------------------------- */


#gamePage {

    margin: auto;
    border: hidden;
    width: 75vw;
    height: 85vh;
    padding: 1em 10em 5em 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

@media (max-width: 600px) {

    #gamePage {
        
        margin: auto;
        border: hidden;
        width: 75vw;
        height: 85vh;
        padding: 5em 4em 3em 3em;
        display: flex;
        flex-direction: column;
        align-items: center; 
    
    }
    

}

#gameTitlePage2 {


    position: relative;
    margin: 1rem auto;
    background-color: rgb(29,180,200);
    background-image: linear-gradient(0deg, rgba(29,147,200,1) 33%, rgba(21,68,208,1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 7rem;
    font-family: 'Cairo Play', sans-serif;
    font-weight: bold;
    text-align: center;

}

@media (max-width: 600px) {

    #gameTitlePage2 {


        position: relative;
        padding: 1em;
        margin: 1rem auto;
        background-color: rgb(29,180,200);
        background-image: linear-gradient(0deg, rgba(29,147,200,1) 33%, rgba(21,68,208,1) 100%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-size: 3rem;
        font-family: 'Cairo Play', sans-serif;
        font-weight: bold;
        text-align: center;
    
    }

    
}


#game {

    border: solid;
    border-radius: 5%;
    padding: 2em;

}

@media (max-width: 600px) {

    #game {


        gap: 3rem;
        grid-template-columns: repeat(7, 1fr); */
        border: solid;
        border-radius: 5%;
        padding: 1em;
    
    
    }


}



/* game board table */

#board td {
    width: 65px;
    height: 65px;
    border: solid 1px #666;
    border-radius: 50%;
  }

@media (max-width: 600px){

    #board td {
        width: 40px;
        height: 40px;
        border: solid 1px #666;
        border-radius: 50%;
    }


}
  
  /* pieces are div within game table cells: draw as colored circles */
  
  .piece {
    /* TODO: make into circles */
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 80%;
    height: 80%;
    border-radius: 50%;    
  }

  .piece.red {
    background-color: red;
  }
  
  .piece.blue {
    background-color: blue;
  }
  
  /* TODO: make pieces red/blue,  depending on player 1/2 piece */
  
  /* column-top is table row of clickable areas for each column */
  

  
td:hover {
    background-color: gold;
    cursor: pointer;
  }

@media (max-width: 600px){

    td:hover {
        background-color: gold;
        cursor: pointer;
      }

}



  